body {
  background-color: rgb(162, 158, 158);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: large;
  line-height: normal;
}
#pp {
  border-radius: 25%;
  width: 125px;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  cursor: pointer;
  
}
a:hover {
  color: rgb(62, 62, 232);
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 { 
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

@media (max-width: 1960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
  list-style: none;
  font-size: 30px;
}

p {
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

